﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:594px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-10px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:84px;
  top:163px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:84px;
  top:163px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:190px;
  top:177px;
  width:107px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:84px;
  top:143px;
  width:320px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:424px;
  top:380px;
  width:170px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:364px;
  top:181px;
  width:33px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:92px;
  top:178px;
  width:28px;
  height:4px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:92px;
  top:185px;
  width:28px;
  height:4px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:84px;
  top:213px;
  width:320px;
  height:498px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:498px;
}
#u18 {
  position:absolute;
  left:2px;
  top:241px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:92px;
  top:192px;
  width:28px;
  height:4px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:84px;
  top:661px;
  width:320px;
  height:51px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:84px;
  top:213px;
  width:256px;
  height:449px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:449px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:260px;
  height:460px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u25 {
  position:absolute;
  left:2px;
  top:222px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:77px;
  top:128px;
  width:108px;
  height:30px;
  font-size:15px;
  color:#000000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:43px;
  top:236px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:33px;
  top:263px;
  width:190px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u31 {
  position:absolute;
  left:43px;
  top:273px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:39px;
  top:316px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:43px;
  top:353px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:33px;
  top:300px;
  width:190px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u38 {
  position:absolute;
  left:29px;
  top:343px;
  width:190px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u39 {
  position:absolute;
  left:39px;
  top:166px;
  width:165px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:39px;
  top:193px;
  width:155px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:39px;
  top:400px;
  width:176px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:220px;
  width:257px;
  height:231px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:241px;
}
#u47 {
  position:absolute;
  left:2px;
  top:107px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  height:37px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:38px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u55 {
  position:absolute;
  left:20px;
  top:37px;
  width:220px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u56 {
  position:absolute;
  left:71px;
  top:8px;
  width:110px;
  height:110px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u57 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:50px;
  top:-14px;
  width:159px;
  height:154px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:154px;
}
#u59 {
  position:absolute;
  left:2px;
  top:69px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:140px;
  top:20px;
  width:30px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:23px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:139px;
  top:273px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u64 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u65_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u66 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:58px;
  top:70px;
  width:131px;
  height:80px;
  font-size:35px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:18px;
  top:215px;
  width:207px;
  height:85px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:86px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:139px;
  top:273px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u71_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u73 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u74_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u75 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:58px;
  top:70px;
  width:131px;
  height:80px;
  font-size:35px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:10px;
  top:215px;
  width:224px;
  height:68px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:69px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
