<div class="incidence">
    <img src="[@Image]" alt="[@Id]" class="img clck" height="100%" width="50%" >
    <div class="info">
        <img src="../../img/[@Type].png" alt="[@Incidence]" class="img alert" height="50%" width="50%">
        <div class="date">[@Date]</div>
    </div>
    <div class="tag [@Status]"/>
</div>