<div id="info" class="center">
    <div id="info-head">
        <img src="[@Image]" height="100%" width="100%">
    </div>
    <div id="info-body">
        <div id="content-head">
            <div class="segment">
                <p class="p">[@Address]</p>
                <p class="p">[@Date]</p>
            </div>
            <div class="segment">
                <img src="../../img/[@Type].png" class="content-photo" height="95%" width="50%">
            </div>
        </div>
        <div class="content-body">
            <div class="content-text">
                [@Description]
            </div>
        </div>
        <div class="content-foot">
            <div class="full txt-center">
                <input type="button" onclick="modifyIncidenceStatus(2,[@Id]);" value="Aceptar">
            </div>
        </div>
    </div>
</div>