﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u4 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:192px;
  top:323px;
  width:106px;
  height:37px;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:38px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:116px;
  top:605px;
  width:251px;
  height:16px;
  color:#CCCCCC;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:127px;
  top:400px;
  width:220px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:127px;
  top:475px;
  width:220px;
  height:45px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:45px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:187px;
  top:540px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u11_img.mouseDown {
}
#u11.mouseDown {
}
#u12 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:192px;
  top:660px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:150px;
  top:635px;
  width:177px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:188px;
  top:190px;
  width:114px;
  height:113px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:113px;
}
#u20 {
  position:absolute;
  left:2px;
  top:48px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
