﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:85px;
  top:220px;
  width:320px;
  height:498px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:499px;
}
#u6 {
  position:absolute;
  left:2px;
  top:241px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:240px;
  width:290px;
  height:180px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:181px;
}
#u8 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:312px;
  top:393px;
  width:59px;
  height:16px;
  color:#FF3300;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:119px;
  top:393px;
  width:120px;
  height:17px;
  font-size:15px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:119px;
  top:368px;
  width:252px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:440px;
  width:290px;
  height:180px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:181px;
}
#u16 {
  position:absolute;
  left:2px;
  top:82px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:319px;
  top:595px;
  width:52px;
  height:16px;
  color:#339933;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:119px;
  top:593px;
  width:120px;
  height:17px;
  font-size:15px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:119px;
  top:568px;
  width:252px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:92px;
  top:186px;
  width:28px;
  height:4px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:92px;
  top:193px;
  width:28px;
  height:4px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:92px;
  top:200px;
  width:28px;
  height:4px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:358px;
  top:186px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:100px;
  top:240px;
  width:290px;
  height:118px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:118px;
}
#u34 {
  position:absolute;
  left:2px;
  top:51px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:440px;
  width:290px;
  height:118px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:118px;
}
#u36 {
  position:absolute;
  left:2px;
  top:51px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:184px;
  top:182px;
  width:115px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:27px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:85px;
  top:220px;
  width:256px;
  height:449px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:449px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:260px;
  height:460px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u41 {
  position:absolute;
  left:2px;
  top:222px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:77px;
  top:128px;
  width:108px;
  height:30px;
  font-size:15px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:43px;
  top:236px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:33px;
  top:263px;
  width:190px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u47 {
  position:absolute;
  left:43px;
  top:273px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:39px;
  top:316px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:43px;
  top:353px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:33px;
  top:300px;
  width:190px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u54 {
  position:absolute;
  left:29px;
  top:343px;
  width:190px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u55 {
  position:absolute;
  left:39px;
  top:166px;
  width:164px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:39px;
  top:193px;
  width:154px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:39px;
  top:400px;
  width:176px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:3px;
  width:172px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:220px;
  width:257px;
  height:231px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u61_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:241px;
}
#u63 {
  position:absolute;
  left:2px;
  top:107px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:20px;
  top:10px;
  width:222px;
  height:37px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u71 {
  position:absolute;
  left:20px;
  top:37px;
  width:220px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u72 {
  position:absolute;
  left:71px;
  top:8px;
  width:110px;
  height:110px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u73 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:50px;
  top:-14px;
  width:159px;
  height:154px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:154px;
}
#u75 {
  position:absolute;
  left:2px;
  top:69px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:140px;
  top:20px;
  width:30px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:23px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:130px;
  top:290px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u78_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u78_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u80 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u81_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u82 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:12px;
  top:215px;
  width:220px;
  height:68px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:69px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:130px;
  top:290px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u87_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u87_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u89 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u90_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u91 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:20px;
  top:215px;
  width:203px;
  height:85px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:86px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:85px;
  top:667px;
  width:320px;
  height:51px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u97 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
