.incidence{
    width: 100%;
    height: 10%;
    min-height: 95px;
    background-color: #9da2a0;
    margin-bottom: 5px;
}

.img {
    float: left;
}

.info {
    float: left;
    text-align: center;
    width: 45%;
}

.alert{
    margin-left: 25%;
    margin-top: 5px;
}

.date{
    float: left;
    position: relative;
    margin-left: 4px;
    margin-top: 3px;
}

.tag{
    width: 5%;
    height: 100%;
    float: left;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}