input {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 100%;
    max-height: 30px;
    width: 50%;
    max-width: 240px;
    font-size: 100%;
}

#info {
    min-height: 200px;
    height: 75%;
    min-width: 200px;
    width: 25%;
    position: absolute;
    background-color: white;
    border: 3px solid #69ce28;
    box-shadow: 0px 0px 15px;
    z-index: 999999;
}

#info-head {
    min-height: 20px;
    height: 25%;
    min-width: 200px;
    width: 100%;
    background-color: #69ce28;
}

#info-body {
    height: 75%;
    width: 100%;
}

#content-head {
    width: 100%;
    height: 15%;
    float: left;
}

.segment{
    width: 50%;
    height: 100%;
    float: left;
}

.full{
    width: 100%;
    height: 100%;
    float: left;
}

.p{
    margin-top: 3px;
    margin-left: 5%;
}

.content-photo{
    margin-top: 3px;
    margin-left: 40%;
}

.content-body{
    width: 100%;
    height: 75%;
    float: left;
}

.content-text{
    width: 80%;
    height: 85%;
    margin-left: 10%;
    margin-top: 5%;
    overflow: auto;
    word-wrap: break-word;
}

.content-foot{
    width: 100%;
    height: 10%;
    float: left;
}

.txt-center{
    text-align: center;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blk {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999998;
    background: rgba(0, 0, 0, 0.6);
}