#map-head{
    width: 100%;
    min-height: 50px;
    height: 5%;
    background-color: #69ce28;
}

#incidence-list{
    float: left;
    width: 15%;
    height: 95%;
    background-color: #5bb625;
    overflow: auto;
}

#map-body{
    float: left;
    width: 85%;
    height: 95%;
}
