﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
  text-align:left;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
}
#u4 {
  position:absolute;
  left:2px;
  top:266px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:199px;
  top:240px;
  width:92px;
  height:90px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:90px;
}
#u8 {
  position:absolute;
  left:2px;
  top:37px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:84px;
  top:170px;
  width:320px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:200px;
  top:183px;
  width:81px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:354px;
  top:187px;
  width:46px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:92px;
  top:183px;
  width:28px;
  height:4px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:92px;
  top:190px;
  width:28px;
  height:4px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:92px;
  top:197px;
  width:28px;
  height:4px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:85px;
  top:667px;
  width:320px;
  height:51px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:195px;
  top:617px;
  width:100px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:33px;
}
#u23_img.mouseDown {
}
#u23.mouseDown {
}
#u24 {
  position:absolute;
  left:2px;
  top:-1px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:191px;
  top:373px;
  width:106px;
  height:24px;
  font-size:20px;
  color:#009900;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:215px;
  top:340px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:144px;
  top:420px;
  width:202px;
  height:162px;
  font-size:17px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:163px;
}
#u30 {
  position:absolute;
  left:0px;
  top:1px;
  width:202px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:85px;
  top:220px;
  width:256px;
  height:449px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:449px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:260px;
  height:460px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u33 {
  position:absolute;
  left:2px;
  top:222px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:77px;
  top:128px;
  width:108px;
  height:30px;
  font-size:15px;
  color:#000000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:43px;
  top:236px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:33px;
  top:263px;
  width:190px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u39 {
  position:absolute;
  left:43px;
  top:273px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:39px;
  top:316px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:43px;
  top:353px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:33px;
  top:300px;
  width:190px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u46 {
  position:absolute;
  left:29px;
  top:343px;
  width:190px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u47 {
  position:absolute;
  left:39px;
  top:166px;
  width:164px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:39px;
  top:193px;
  width:154px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:39px;
  top:400px;
  width:176px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:31px;
}
#u52 {
  position:absolute;
  left:2px;
  top:3px;
  width:172px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:220px;
  width:257px;
  height:231px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:241px;
}
#u55 {
  position:absolute;
  left:2px;
  top:107px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:10px;
  width:222px;
  height:37px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u63 {
  position:absolute;
  left:20px;
  top:37px;
  width:220px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u64 {
  position:absolute;
  left:71px;
  top:8px;
  width:110px;
  height:110px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u65 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:50px;
  top:-14px;
  width:159px;
  height:154px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:154px;
}
#u67 {
  position:absolute;
  left:2px;
  top:69px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:140px;
  top:20px;
  width:30px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:23px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:140px;
  top:280px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u70_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u70_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u72 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u73_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u74 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:20px;
  top:215px;
  width:203px;
  height:85px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:86px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:140px;
  top:280px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u79_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u81 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u82_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u83 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:12px;
  top:215px;
  width:220px;
  height:68px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:69px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
