﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:222px;
  width:320px;
  height:496px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:497px;
}
#u4 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:110px;
  top:355px;
  width:270px;
  height:150px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:151px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:230px;
  top:268px;
  width:80px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:230px;
  top:287px;
  width:70px;
  height:25px;
  font-size:15px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:138px;
  top:500px;
  width:215px;
  height:117px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:118px;
}
#u12 {
  position:absolute;
  left:2px;
  top:50px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:230px;
  top:244px;
  width:165px;
  height:14px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:85px;
  top:667px;
  width:320px;
  height:51px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:84px;
  top:170px;
  width:320px;
  height:50px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u18 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:92px;
  top:186px;
  width:28px;
  height:4px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:92px;
  top:193px;
  width:28px;
  height:4px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:92px;
  top:200px;
  width:28px;
  height:4px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:358px;
  top:186px;
  width:42px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:190px;
  top:182px;
  width:109px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:100px;
  top:241px;
  width:120px;
  height:97px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:97px;
}
#u32 {
  position:absolute;
  left:2px;
  top:40px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:200px;
  top:627px;
  width:90px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u33_img.mouseDown {
}
#u33.mouseDown {
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:230px;
  top:313px;
  width:20px;
  height:25px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:260px;
  top:318px;
  width:64px;
  height:15px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:115px;
  top:287px;
  width:261px;
  height:161px;
  overflow:hidden;
  visibility:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:161px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:140px;
}
#u40_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:243px;
  height:143px;
}
#u41 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:100px;
  width:90px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u42_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u42_img.mouseDown {
}
#u42.mouseDown {
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:140px;
  top:100px;
  width:90px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u44_img.mouseDown {
}
#u44.mouseDown {
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:24px;
  width:200px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:53px;
  width:200px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:85px;
  top:218px;
  width:256px;
  height:449px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:449px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:260px;
  height:460px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u52 {
  position:absolute;
  left:2px;
  top:222px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:77px;
  top:128px;
  width:108px;
  height:30px;
  font-size:15px;
  color:#000000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:43px;
  top:236px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:33px;
  top:263px;
  width:190px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u58 {
  position:absolute;
  left:43px;
  top:273px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:39px;
  top:316px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:43px;
  top:353px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:33px;
  top:300px;
  width:190px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u65 {
  position:absolute;
  left:29px;
  top:343px;
  width:190px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u66 {
  position:absolute;
  left:39px;
  top:166px;
  width:165px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:39px;
  top:193px;
  width:155px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:39px;
  top:400px;
  width:176px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:31px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:220px;
  width:257px;
  height:231px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:241px;
}
#u74 {
  position:absolute;
  left:2px;
  top:107px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:20px;
  top:10px;
  width:220px;
  height:37px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:38px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u82 {
  position:absolute;
  left:20px;
  top:37px;
  width:220px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u83 {
  position:absolute;
  left:71px;
  top:8px;
  width:110px;
  height:110px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u84 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:50px;
  top:-14px;
  width:159px;
  height:154px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:154px;
}
#u86 {
  position:absolute;
  left:2px;
  top:69px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:140px;
  top:20px;
  width:30px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:23px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:125px;
  top:260px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u89_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u89_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u91 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u92_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u93 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:58px;
  top:70px;
  width:131px;
  height:80px;
  font-size:35px;
  text-align:center;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:18px;
  top:215px;
  width:207px;
  height:85px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:86px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:125px;
  top:260px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u98_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u98_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u100 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u101_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u102 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:58px;
  top:70px;
  width:131px;
  height:80px;
  font-size:35px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:81px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:10px;
  top:215px;
  width:224px;
  height:68px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:69px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  white-space:nowrap;
}
