﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:1440px;
  height:810px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u1 {
  position:absolute;
  left:2px;
  top:397px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:20px;
  width:1440px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:51px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:70px;
  width:1440px;
  height:760px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u5 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:188px;
  width:270px;
  height:642px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:643px;
}
#u7 {
  position:absolute;
  left:2px;
  top:313px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:488px;
  top:550px;
  width:22px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:70px;
  width:270px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:588px;
  top:240px;
  width:325px;
  height:440px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:441px;
}
#u13 {
  position:absolute;
  left:2px;
  top:212px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:622px;
  top:285px;
  width:250px;
  height:40px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:622px;
  top:360px;
  width:108px;
  height:40px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:622px;
  top:259px;
  width:78px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:622px;
  top:334px;
  width:78px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:760px;
  top:360px;
  width:112px;
  height:40px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:622px;
  top:469px;
  width:78px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:622px;
  top:504px;
  width:100px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:622px;
  top:530px;
  width:128px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:622px;
  top:556px;
  width:100px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:622px;
  top:582px;
  width:100px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:760px;
  top:504px;
  width:100px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:760px;
  top:530px;
  width:100px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:760px;
  top:556px;
  width:100px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:760px;
  top:582px;
  width:100px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:697px;
  top:624px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u39_img.mouseDown {
}
#u39.mouseDown {
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:890px;
  top:232px;
  width:30px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:30px;
  top:70px;
  width:270px;
  height:118px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:119px;
}
#u44 {
  position:absolute;
  left:2px;
  top:51px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:30px;
  top:70px;
  width:100px;
  height:118px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:118px;
}
#u46 {
  position:absolute;
  left:2px;
  top:51px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1360px;
  top:25px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u47_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u47_img.mouseDown {
}
#u47.mouseDown {
}
#u48 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:40px;
  top:25px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:103px;
  height:43px;
}
#u49_img.mouseDown {
}
#u49.mouseDown {
}
#u50 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:622px;
  top:417px;
  width:78px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:622px;
  top:443px;
  width:100px;
  height:16px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:772px;
  top:443px;
  width:100px;
  height:16px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:140px;
  top:82px;
  width:150px;
  height:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:140px;
  top:124px;
  width:100px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:140px;
  top:150px;
  width:80px;
  height:16px;
  color:#FF3300;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:600px;
  top:228px;
  width:290px;
  height:395px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:396px;
}
#u64 {
  position:absolute;
  left:2px;
  top:190px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:600px;
  top:228px;
  width:290px;
  height:118px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:118px;
}
#u66 {
  position:absolute;
  left:2px;
  top:51px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:612px;
  top:417px;
  width:270px;
  height:143px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:144px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:612px;
  top:381px;
  width:80px;
  height:19px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:802px;
  top:381px;
  width:70px;
  height:19px;
  font-size:15px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:612px;
  top:360px;
  width:165px;
  height:15px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:770px;
  top:575px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u75_img.mouseDown {
}
#u75.mouseDown {
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:852px;
  top:356px;
  width:20px;
  height:25px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:25px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:632px;
  top:575px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u79_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u79_img.mouseDown {
}
#u79.mouseDown {
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:870px;
  top:220px;
  width:30px;
  height:30px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
