﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:222px;
  width:320px;
  height:496px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:497px;
}
#u4 {
  position:absolute;
  left:2px;
  top:240px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:550px;
  width:290px;
  height:122px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:123px;
}
#u6 {
  position:absolute;
  left:2px;
  top:53px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:146px;
  top:230px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:139px;
  top:300px;
  width:28px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:110px;
  top:373px;
  width:270px;
  height:90px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:91px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:166px;
  top:488px;
  width:126px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:177px;
  top:300px;
  width:28px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:215px;
  top:300px;
  width:28px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:192px;
  top:340px;
  width:105px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:294px;
  top:230px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:84px;
  top:170px;
  width:320px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:92px;
  top:186px;
  width:28px;
  height:4px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:92px;
  top:193px;
  width:28px;
  height:4px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:92px;
  top:200px;
  width:28px;
  height:4px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:5px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:329px;
  top:186px;
  width:69px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:184px;
  top:182px;
  width:115px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:27px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:200px;
  top:682px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u36_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u36_img.mouseDown {
}
#u36.mouseDown {
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:220px;
  top:230px;
  width:50px;
  height:49px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:110px;
  top:493px;
  width:41px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:110px;
  top:518px;
  width:46px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:166px;
  top:518px;
  width:59px;
  height:16px;
  color:#FF3300;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:329px;
  top:300px;
  width:31px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:291px;
  top:302px;
  width:28px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u49 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:253px;
  top:302px;
  width:28px;
  height:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u51 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:85px;
  top:218px;
  width:256px;
  height:449px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:449px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:260px;
  height:460px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:471px;
}
#u54 {
  position:absolute;
  left:2px;
  top:222px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:77px;
  top:128px;
  width:108px;
  height:30px;
  font-size:15px;
  color:#000000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:43px;
  top:236px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:33px;
  top:263px;
  width:190px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u60 {
  position:absolute;
  left:43px;
  top:273px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:39px;
  top:316px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:43px;
  top:353px;
  width:180px;
  height:25px;
  font-size:23px;
  color:#000000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:26px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:33px;
  top:300px;
  width:190px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u67 {
  position:absolute;
  left:29px;
  top:343px;
  width:190px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:181px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:190px;
  height:1px;
}
#u68 {
  position:absolute;
  left:39px;
  top:166px;
  width:164px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:39px;
  top:193px;
  width:154px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:39px;
  top:400px;
  width:176px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:31px;
}
#u73 {
  position:absolute;
  left:2px;
  top:3px;
  width:172px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:220px;
  width:257px;
  height:231px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u74_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:231px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:230px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:241px;
}
#u76 {
  position:absolute;
  left:2px;
  top:107px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:20px;
  top:10px;
  width:222px;
  height:37px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:20px;
  top:70px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:20px;
  top:100px;
  width:220px;
  height:30px;
  font-size:15px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:20px;
  top:90px;
  width:220px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u84 {
  position:absolute;
  left:20px;
  top:37px;
  width:220px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:211px;
  top:-5px;
  width:14px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:5px;
  width:220px;
  height:1px;
}
#u85 {
  position:absolute;
  left:71px;
  top:8px;
  width:110px;
  height:110px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u86 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:50px;
  top:-14px;
  width:159px;
  height:154px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:154px;
}
#u88 {
  position:absolute;
  left:2px;
  top:69px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:140px;
  top:20px;
  width:30px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:33px;
  height:23px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:130px;
  top:288px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u91_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u93 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u94_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u95 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:12px;
  top:215px;
  width:220px;
  height:68px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:69px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:130px;
  top:288px;
  width:251px;
  height:341px;
  overflow:hidden;
  visibility:hidden;
}
#u100_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u100_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:340px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:341px;
}
#u102 {
  position:absolute;
  left:2px;
  top:162px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:53px;
  top:56px;
  width:142px;
  height:108px;
}
#u103_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:145px;
  height:111px;
}
#u104 {
  position:absolute;
  left:2px;
  top:46px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:60px;
  top:70px;
  width:127px;
  height:82px;
  font-size:35px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:83px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:20px;
  top:215px;
  width:203px;
  height:85px;
  font-size:15px;
  color:#000000;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:86px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:125px;
  top:288px;
  width:261px;
  height:161px;
  overflow:hidden;
  visibility:hidden;
}
#u109_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:161px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u109_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:10px;
  top:10px;
  width:240px;
  height:140px;
}
#u110_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:243px;
  height:143px;
}
#u111 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:30px;
  top:100px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u112_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u112_img.mouseDown {
}
#u112.mouseDown {
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:140px;
  top:100px;
  width:90px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u114_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:33px;
}
#u114_img.mouseDown {
}
#u114.mouseDown {
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:30px;
  top:24px;
  width:200px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:20px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:30px;
  top:53px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
