﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:479px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:479px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:85px;
  top:649px;
  width:320px;
  height:69px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u6 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:100px;
  top:659px;
  width:50px;
  height:48px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u8 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:328px;
  top:676px;
  width:72px;
  height:23px;
  font-size:15px;
  color:#000000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:216px;
  top:659px;
  width:58px;
  height:51px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:52px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:224px;
  top:664px;
  width:42px;
  height:41px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
